In [1]:
# Population  ===> All the dataset  Ex. Country 

# Sample  ===> Sub data of a dataset  Ex. City 

# Normal Distributrion ===> from  central tendancy , we have equal data from left and right side . 

# Central Tendancy ===>  mean , median  , mode 

# mean = sum of total elements / frequency(count) of elements 
a = 1,2,3,4,5
# mean =  (1+2+3+4+5)/5 = 15/5 = 3 

# median = sort ===> even = n/2 , odd = n+1/2 
a = 1,4,2,3,5
# median = 1,2,3,4,5
# odd =  5+1/2 = 6/2 = 3 rd number ===> median = 3 

# mode ==>  most frequent values . 
a = 1,2,2,3,2,5
# mode = 2 

# standard deviation ===> central tendancy ==> gap of next value .  

# Normal distributed ===> mean = 0 , std = 1

In [2]:
# Machine Learning Workflow  

# Data(Gather) ===> Data Preprocessing(Normal Distribution) ===>
# ML Algorithms ===> Prediction ==> Performance Evaluation .

# Data Preprocessing ===>:

# (1) . Standardization  ===> mean = 0 , standard deviation = 1

In [3]:
# data ===> Independent data(X) , Dependent data(y) 

# (X) ===> X_train , X_test  

# (y) ===> y_train,  y_test

In [4]:
# machine(training data) ===> Prediction(Testing data)

In [6]:
import numpy as np 
import pandas as pd

In [7]:
df = pd.read_csv("C:\\Users\\saurabh\\Desktop\\Newdat\\placement.csv")

In [8]:
df.head(2)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0

In [10]:
x = df.drop(columns = ['placed'] , axis = 1)  ### Independent data
type(x)

pandas.core.frame.DataFrame

In [11]:
x.head(2)

   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17

In [12]:
y = df['placed']  ## Dependent or target data

In [15]:
print("Total data shape = " , df.shape) 
print("Independent  data shape = " , x.shape) 
print("Dependent  data shape = " , y.shape)

Total data shape =  (100, 3)
Independent  data shape =  (100, 2)
Dependent  data shape =  (100,)

In [ ]:
# !pip install sciket-learn

In [16]:
from sklearn.model_selection import train_test_split

C:\Users\saurabh\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [21]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [22]:
print("Total data shape = " , df.shape) 
print("Independent  data shape = " , x.shape) 
print("Dependent  data shape = " , y.shape) 
print("X_train data shape=" , x_train.shape)
print("X_test data shape = " , x_test.shape)

Total data shape =  (100, 3)
Independent  data shape =  (100, 2)
Dependent  data shape =  (100,)
X_train data shape= (80, 2)
X_test data shape =  (20, 2)